body {
  background-color: bisque;
  font-family: "Arial", "Helvetica", "sans-serif";
  font-size: 20px;
}
header .container {
  
  background-color: aqua;
  font-size: 20px;
  font-variant: initial;
  width:auto;
  height: 80px;
  
}
header .container #menu{
  padding-top: 20px;
}

header nav {
  color: blanchedalmond;
  margin-left: 15px;
}

header .banner {
  background: url ("./imagem/flor/jpg");
  margin: right 10px;
  margin-left: 10px;
  width: 1350px;
}

.infotext{
  margin-top: 100px;
}

.galeria{
  margin-left: 200px;
  margin-right: 200px;
}

#img1{
  padding-right: 80px;
  max-height: 900px;
  max-width: 450px;
}


#img2{
  padding-right: 80px;
  max-height: 900px;
  max-width: 450px;
}


#img3{
  padding-right: 80px;
  max-height: 830px;
  max-width: 415px;
}